body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:45px;
  top:50px;
  width:545px;
  height:148px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:148px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
